<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecnu.compiler.rbac.mapper.LexicalMapper">
    <select id="getTargetLanguageRegexs" resultType="com.ecnu.compiler.lexical.domain.Regex">
        select * from regex where language = #{language}
    </select>
</mapper>